<!-- This page generates the individual blog posts -->

<div id="content">
    <div class="blogPost">
      <h1><%= blog.title %></h1>
      <h2>-posted  <%= time_ago_in_words(blog.created_at) %> ago.</h2>

      <br /> 

      <% if signed_in? %> 

      Add a tag
      <% form_tag(life_taggings_path(blog)) do %>
      <%= text_field_tag 'title' %>
      <%= submit_tag 'submit' %>
      <% end %>

      <% end %> 

      <div class="lineBreak"></div>

      <h3><%= blog.content.html_safe %></h3>
    
      <% if signed_in? %> 
	      <%= link_to "edit", edit_life_path(blog) %>
	      <br />
	      <%= link_to "delete", life_path(blog), :method => :delete, 
                                    		     :confirm => "Are you sure?",
						     :title => "Delete #{blog.title}" %>


	<br />
     <h3> Add a tag 
      <% form_tag(life_taggings_path(blog)) do %>
      <%= text_field_tag 'title' %>
      <%= submit_tag 'submit' %>
      </h3><% end %>

      <% end %> 
      <% blog.taggings.each do |tagging| %> 
	     <div class="blogTags"><h3>Tags: <%= link_to tagging.title, life_tag_path(blog,tagging.tag) %></div>
      <% end %>


     </div>                             
</div>
