<!-- This page generates the individual blog posts -->

<div id="content">
    <div class="blogPost">
      <h1><%= link_to blog.title, life_url(blog) %></h1>
      <h2>-posted  <%= time_ago_in_words(blog.created_at) %> ago.</h2>
      <div class="lineBreak"></div>
      <h3><%= blog.content.html_safe %></h3>
     
 
      <!-- ADMIN OPTIONS -->
      <% if signed_in? %>     
	      <div class="editPost">    
		      <h2>Admin Options</h2>      	
		      <ul>	     
			      <li> <%= link_to "edit post", edit_life_path(blog) %> </li> |	     
			      <li> <%= link_to "delete post", life_path(blog), :method => :delete, 
			      				:title => "Delete #{blog.title}" %></li> |
			      <li> <%= link_to "delete tags", life_taggings_path(blog) %></li>
			      <br />     
			      <h3> Add a tag      
				      <% form_tag(life_taggings_path(blog)) do %>     
					      <%= text_field_tag 'title' %>     
					      <%= submit_tag 'submit' %> 
					      </h3>    
			     <% end %>	
		      </ul>
	      </div> <!-- end edit post !-->
      <% end %>
      <!-- END ADMIN OPTIONS -->

      <!-- displays the tags and makes sure they are separated by commas -->
      <div class="blogTags"><h3>Tags:
      <% blog.taggings.each do |tagging| %> 
	      <% if tagging == blog.taggings.last %>
		      <%= link_to tagging.title, life_tag_path(blog,tagging.tag) %>	
	      <% else%>							
		      <%= link_to tagging.title, life_tag_path(blog,tagging.tag) %>,
	      <% end %>
      <% end %>
      </h3>
	</div>

		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style "
			addthis:url="<%= life_url(blog) %>" >
			<a href="http://www.addthis.com/bookmark.php?v=250&pubid={YOUR_PROFILE_ID}" class="addthis_button_compact">Share</a>
			<span class="addthis_separator">|</span>
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
		</div>
		<!-- AddThis Button END -->

     </div>                             
</div>
