<!-- This page renders the blog post when accessed via the 
tag links or the search bar -->
<div id="content">
	<div class="blogPost">
		
		<h1><%= @blog.title %></h1>
		<h2>-posted  <%= time_ago_in_words(@blog.created_at) %> ago.</h2>
		
		<br /> 
      
		<% @blog.taggings.each do |tagging| %> 
	      		<%= link_to tagging.title, life_tag_path(@blog,tagging.tag) %>
		<% end %>

		<div class="lineBreak"></div>

		<h3><%= @blog.content.html_safe %></h3>
    
		<% if signed_in? %> 
			<%= link_to "edit", edit_life_path(@blog) %>
			<br />			
			<%= link_to "delete", life_path(@blog), :method => :delete, 
					                	:confirm => "Are you sure?",
					   		        :title => "Delete #{@blog.title}" %>
		<% end %>
											
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style "
			addthis:url="<%= life_url(@blog) %>" >
			<a href="http://www.addthis.com/bookmark.php?v=250&pubid={YOUR_PROFILE_ID}" class="addthis_button_compact">Share</a>
			<span class="addthis_separator">|</span>
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
		</div>
		<!-- AddThis Button END -->

	</div>                

</div>
