<!-- This page renders the blog post when accessed via the 
tag links or the search bar -->
<div id="content">
	<div class="blogPost">
		
		<h1><%= @blog.title %></h1>
		<h2>-posted  <%= time_ago_in_words(@blog.created_at) %> ago.</h2>
		
		<br /> 
      
		<% @blog.taggings.each do |tagging| %> 
	      		<%= link_to tagging.title, life_tag_path(@blog,tagging.tag) %>
		<% end %>

		<div class="lineBreak"></div>

		<h3><%= @blog.content.html_safe %></h3>
    
		<% if signed_in? %> 
			<%= link_to "edit", edit_life_path(@blog) %>
			<br />			
			<%= link_to "delete", life_path(@blog), :method => :delete, 
					                	:confirm => "Are you sure?",
					   		        :title => "Delete #{@blog.title}" %>
		<% end %>

	</div>                

</div>
