<!-- This handles the admin page at url = /admin -->

<h1>This will be the admin page!</h1>

<% if signed_in? %>
  <h2> You are signed in!!</h2>
<% else %>

<%= form_for(:session, :url => sessions_path) do |f| %>
  
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />

  <%= f.label :password %><br />
  <%= f.password_field :password %><br />

  <%= f.submit "Sign in" %>
<% end %>

<% end %>
