<!-- this page renders the index of portfolio items that tammy has uploaded.
The image is a link and is displayed originally as a thumbnail. If a url was 
supplied, the code appends the http:// to the beginning if need be to create 
a proper link. If no url was provided, the image is a link to the full-sized 
image instead. -->

<% if portfolio.url == "" %>
	<a href="<%= portfolio.photo.url %>">
		<%= image_tag portfolio.photo.url(:thumb) %>
	</a>
<% else %>
	<% if portfolio.url.include? "http://"%>
	<a href="<%= portfolio.url %>">
		<%= image_tag portfolio.photo.url(:thumb) %>
	</a>
	<% else %>
	<a href="http://<%= portfolio.url %>">
		<%= image_tag portfolio.photo.url(:thumb) %>
	</a>
	<% end %>
<% end %>

<% if signed_in? %>
	<%= link_to "delete", portfolio_path(portfolio), :method => :delete, 
					    		 :confirm => "Are you sure?" %>
<% end %>
