<div id="content">






<div id="textHeader">
<h1> Disjointed Thoughts by: Tammy Portnoy </h1>
</div>


	<!-- this code renders the search bar -->	



	<!-- this code renders the latest blog post created -->
	<% unless Blog.first == nil || Blog.to_s.empty? %>
		<div class="blogPost">
			<h1><%= Blog.first.title.html_safe %></h1>
			<h2>Posted <%= time_ago_in_words(Blog.first.created_at) %> ago</h2>

			<div class="lineBreak"></div>
			<h3><%= Blog.first.content.html_safe %></h3>

      			<!-- ADMIN OPTIONS -->
      			<% if signed_in? %>     
	      			<div class="editPost">    
		      		<h2>Admin Options</h2>      	
		      		<ul>	     
			      		<li> <%= link_to "edit post", edit_life_path(Blog.first) %> </li> |	     
			      		<li> <%= link_to "delete post", life_path(Blog.first), :method => :delete, 
			      				:title => "Delete #{Blog.first.title}" %></li> |
			      		<li> <%= link_to "delete tags", life_taggings_path(Blog.first) %></li>
			      		<br />     
			      		<h3> Add a tag      
				      		<% form_tag(life_taggings_path(Blog.first)) do %>     
					      		<%= text_field_tag 'title' %>     
					      		<%= submit_tag 'submit' %>     
			     		</h3>   <% end %>
		      		</ul>	      
	      			</div> <!-- end edit post !-->
			<% end %>
			<!-- END ADMIN OPTIONS -->
	  
			<!-- displays the tags and makes sure they are separated by commas -->
			<div class="blogTags"><h3>Tags:
      			<% Blog.first.taggings.each do |tagging| %> 
	      			<% if tagging == Blog.first.taggings.last %>
		      			<%= link_to tagging.title, life_tag_path(Blog.first,tagging.tag) %>	
	      				<% else%>							
		      			<%= link_to tagging.title, life_tag_path(Blog.first,tagging.tag) %>,
	      			<% end %>
      			<% end %>
			</div>
		</div>
	<% end %>

</div>

<div id="rightContain">
<div id="bennyBowTieImage">
</div>
<div id="expand">
	<h1><a href="http://mydadwearsbowtieseveryday.tumblr.com">Benny's Bow Ties</a></h1>
	<img src="<%= @bow_ties["response"]["posts"][0]["photos"][0]["alt_sizes"][2]["url"] %>" /img>	

<!-- this renders the twitter feed and the link to tammy's tumblr -->
</div>
<div id="bottom"></div>


<!-- this renders the twitter feed and the link to tammy's tumblr -->
<div class="rightBar">	
	<%= render 'twitter/twitter' %> 
</div>
</div>
<div class="clearBoth"></div>
