<div id="content">

	<!-- this code renders the search bar -->	
	<% form_tag life_index_path, :method => 'get' do %>
		  <p>
		  <%= text_field_tag :search, nil, :placeholder => "Search..." %>
		  <%= submit_tag "Search", :name => nil %>
		  </p>
	<% end %>

	<!-- this code renders the latest blog post created -->
	<% unless Blog.first == nil || Blog.to_s.empty? %>
		<div class="blogPost">
		<h1><%= Blog.first.title.html_safe %></h1>
		<h2>Posted <%= time_ago_in_words(Blog.first.created_at) %> ago</h2>
		<div class="lineBreak"></div>
		<h3><%= Blog.first.content.html_safe %></h3>
		</div>
	<% end %>

</div>

<!-- this renders the twitter feed and the link to tammy's tumblr -->
<div id="rightBar">
	<%= render 'twitter/twitter' %> 
	
	<h1><a href="http://mydadwearsbowtieseveryday.tumblr.com">Benny's Bow Ties</a></h1>
	<img src="<%= @bow_ties["response"]["posts"][0]["photos"][0]["alt_sizes"][2]["url"] %>" /img>
</div>
