<header>
  
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Life', life_index_path %></li>
      <li><%= link_to 'Work', work_path %></li>
      <li><%= link_to 'About', about_index_path %></li>
      <% if signed_in? %>
        <li><%= link_to 'blog', admin_blog_path %></li>
        <li><%= link_to 'Admin', admin_index_path %></li>
        <li><%= link_to 'sign out', signout_path, :method => :delete %></li>
      <% end %>
    </ul>
  </nav>
  <h1> Disjointed Thoughts by: Tammy Portnoy </h1>
  <div id="textHeader"></div>
</header>
