<header>
  <h1> Disjointed Thoughts by: Tammy Portnoy </h1>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Disjointed Thoughts on Life', blog_path %></li>
      <li><%= link_to 'Disjointed Body of Work', portfolio_path %></li>
      <li><%= link_to 'Disjointed Dad', dad_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</header>
