<!-- This code renders the header for the pages on the site -->
<header>
  <div id="headerContain">
  <nav>
		<ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Life', life_index_path %></li>
      <li><%= link_to 'Work', portfolios_path %></li>
      <li><%= link_to 'About', about_index_path %></li>
      <% if signed_in? %>
        <li><%= link_to 'blog', admin_blog_path %></li>
        <li><%= link_to 'Admin', admin_index_path %></li>
        <li><%= link_to 'sign out', signout_path, :method => :delete %></li>
      <% end %>
		</ul>

<a href="http://www.linkedin.com/in/tammyportnoy/" style="text-decoration:none;">
	<span style="font: 80% Arial,sans-serif; color:#0783B6;">
		<img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" 
		width="40" height="30" alt="View Tammy Portnoy's LinkedIn profile" 
		style="vertical-align:middle" border="0"></span></a>

<a href="/rss"><img src="/images/feed-icon-28x28.png" height="30" width="30" style="vertical-align:middle"></a>

  </nav>
<!-- this code renders the search bar -->   
    <div id="searchBar">
      <% form_tag life_index_path, :method => 'get' do %>
		  <%= text_field_tag :search, nil, :placeholder => "Search..." %>
		  <%= submit_tag "Search", :name => nil %>
	<% end %>
	</div>
</div>
  
</header>
	<div class="clearBoth"></div>
	<br />
	<br />
