<!-- This code renders the header for the pages on the site -->
<header>
  <div id="headerContain">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Life', life_index_path %></li>
      <li><%= link_to 'Work', work_path %></li>
      <li><%= link_to 'About', about_index_path %></li>
      <% if signed_in? %>
        <li><%= link_to 'blog', admin_blog_path %></li>
        <li><%= link_to 'Admin', admin_index_path %></li>
        <li><%= link_to 'sign out', signout_path, :method => :delete %></li>
      <% end %>
    </ul>
      </nav>	
<!-- this code renders the search bar -->   
    <div id="searchBar">
      <% form_tag life_index_path, :method => 'get' do %>
		  <%= text_field_tag :search, nil, :placeholder => "Search..." %>
		  <%= submit_tag "Search", :name => nil %>
	<% end %>
	</div>
</div>
  
</header>
	<div class="clearBoth"></div>
	<br />
	<br />
