<!DOCTYPE html>
<html>
	<head>

  <title><%= title %></title>

  <link rel="shortcut icon" href="/tammy.ico" />

    <%= stylesheet_link_tag :all %>

		<%= javascript_include_tag 'ckeditor/ckeditor.js' %>
		<%= javascript_include_tag 'prototype.js' %>
		<%= javascript_include_tag 'scriptaculous.js?load=effects,builder' %>
		<%= javascript_include_tag 'lightbox.js' %>
    <%= javascript_include_tag :defaults %> 

		<%= csrf_meta_tag %>

		<script type="text/javascript">
			var addthis_config = {"data_track_clickback":true};
		</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=[YOUR PROFILE ID]"></script>
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="rss.rss" />

  </head>
  <body>
  <div id="shareBox">
		<a href="http://www.linkedin.com/in/tammyportnoy/"><img src="/images/beer_icons/64x64/linkedin.png" height="40x40" width="40x40" style="vertical-align:middle"></a>
		<a href="http://twitter.com/#!/tammyportnoy/"><img src="/images/beer_icons/64x64/twitter.png" height="40x40" width="40x40" style="vertical-align:middle"></a>
		<a href="/rss"><img src="/images/beer_icons/64x64/rss.png" height="40x40" width="40x40" style="vertical-align:middle"></a>
  </div>
    <div id="outterHead">		
      <header><%= render 'layouts/header' %></header>
	</div>
	<div id="container">
		<div id="innerContain">
      	<%flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      	<% end %>
	
   		 <%= yield %>
    	</div>
    </div>
  </body>
</html>
